@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex col-12">

    <div class="col-3 mx-4">
        @Html.Partial("_ProductCategoryPartialView")

        <div class="my-2"></div>

        @Html.Partial("_AdvertisementPartialView")
    </div>
    <div class="col-9">
        <p class="ps-3 py-2 bg-primary-subtle">Sản phẩm mới nhất</p>
        <div class="d-flex justify-content-between col-12 mb-3">
            @Html.Partial("_ProductCardPartialView", new Product() { ImageSrc = "/images/product.jpg", Name = "Nồi cơm điện cao tần Nagakawa NAG0102" })
            @Html.Partial("_ProductCardPartialView", new Product() { ImageSrc = "/images/product.jpg", Name = "Nồi cơm điện cao tần Nagakawa NAG0102" })
            @Html.Partial("_ProductCardPartialView", new Product() { ImageSrc = "/images/product.jpg", Name = "Nồi cơm điện cao tần Nagakawa NAG0102" })
        </div>
        <p class="ps-3 py-2 bg-primary-subtle">Sản phẩm cũ</p>
            @await Component.InvokeAsync("ProductList")
    </div>
</div>
